# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# api
fastapi
uvicorn

# data science
numpy
pandas
nltk
scikit-learn
matplotlib
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
langdetect
deep-translator==1.10.1

# tests/linter
black
coverage
flake8
pytest
yapf

# utilities
six>=1.14
joblib
memoized-property
termcolor
